<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"> -->
<nav-bar></nav-bar>
<!-- <router-outlet></router-outlet> -->


<!-- <div class="col-md-2">
            <ul class="social">
                <li>
                    <a href="https://twitter.com/share?url=URLTOSHARE" class="tw" title="Tweet this page!">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/sharer.php?u=URLTOSHARE&amp;t=TITLE" class="fb" title="Share this page!">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url=URLTOSHARE" class="gp" title="Share this page!">
                        <i class="icon-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div> -->

<body>
    <div class="container main-container">
        <div>
            <h1 class="heading">Welcome to Acme Web Solutions</h1>
            <p class="pragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum error earum soluta voluptatum nisi laboriosam eos saepe asperiores dolorum.</p>
            <button type="button" class="btn"> Read More</button>
        </div>

        <!-- <img src="assets/background.jpg" alt="Norway" style="width:100%;"> 
    <li style="bottom: 0; position: fixed;">
        <a href="#"><i class="fa fa-fw fa-paper-plane-o"></i> Top</a>
    </li>-->
    </div>
    <section class="section-a">
        <div class="content-wrap">
            <h2 class="content-title">Web & Application Development</h2>
            <div class="container">
                <div class="row">
                    <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint eligendi possimus? Unde officiis magnam laborum ipsa distinctio odio, vero dolores dicta

                    </div>
                    <div class="col">aliquam aperiam repellendus. Perferendis officiis deserunt velit voluptas nobis sequi animi totam, accusantium, ex eius quia, natus quo? </div>

                </div>
            </div>
        </div>
    </section>
    <!---- <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">All services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Full website development</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Development</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Graphic design</a>
        </li>
    </ul> 
    <div class="row main-row">
        <div class="col">
            <div class="card" style="width: 40rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/assets/workbench2.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>

                </div>
            </div>
        </div>
        <div class="col order-12">
            <div class="card" style="width: 40rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/assets/workbench2.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>

                </div>
            </div>
        </div>
        <div class="col order-1">
            <div class="card" style="width: 40rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/assets/img_ny3.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <section class="section-b">
        <ul>
            <li>
                <div class="card">
                    <div class="card-body">
                        <img src="\assets\pexels-photo-574077.jpeg">
                        <div class="card-content">
                            <h3 class="card-title">Web Development </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.</p>

                        </div>
                    </div>
                </div>
            </li>
            <!---->
            <li>
                <div class="card">
                    <div class="card-body">
                        <img src="\assets\pexels-photo-261628.jpeg">
                        <div class="card-content">
                            <h3 class="card-title">Mobile Applications </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.</p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-body">
                        <img src="\assets\pexels-photo-265087.jpeg">
                        <div class="card-content">
                            <h3 class="card-title">Tech Marketing </h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.</p>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <section class="section-c">
        <div class="content-wrap">
            <h2 class="content-title">We handle all of your digital needs</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nam rerum vel earum error fugiat cupiditate, dolore eius! Minus, explicabo.

            </p>
        </div>
    </section>

    <section id="section-d" class="grid">
        <div class="box">
            <h2 class="content-title">Contact Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, suscipit. Rerum ducimus a quod, ut et voluptas obcaecati unde fuga.

            </p>
            <p>contact@acmewebsolutions.test

            </p>
        </div>
        <div class="box">
            <h2 class="content-title">About Our Company </h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio earum porro deserunt, deleniti, quae facere repudiandae, officiis est exercitationem nobis iusto doloremque! Soluta excepturi in aut suscipit amet temporibus quo?</p>
        </div>
    </section>

    <footer id="main-footer" class="grid">
        <div>Acme Web Solutions </div>
        <div>
            "Project by"
            <a href="https://www.linkedin.com/in/hebatullah-sabry/" target="blank"> Hebatullah Sabry</a>
        </div>
    </footer>
    <!-- <div class="col-md-12 text-center">

        <button type="button" class="btn btn-success btn-lg">VIEW OUR PORTFOLIO</button>
    </div>

    <div style="background-color: rgb(36, 35, 35);">
        <section class="pt-5 pb-5">
            <div class="container">
                <h3 class="mb-3 " style="text-align: center;color:white;">OUR PORTFOLIO </h3>

                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                                <div class="card-body">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
-->
</body>

<!--<img src="assets/background.jpg" class="img1"/>
<li style="bottom: 0; position: fixed;">
  <a href="#"><i class="fa fa-fw fa-paper-plane-o"></i> Bottom Item</a>
</li> 

<img class="mySlides" src="assets/background.jpg">
<img class="mySlides" src="assets/img_ny3.jpg">
<img class="mySlides" src="assets/workbench2.jpg">
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>-->