<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Acme </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How it Works</a>
                </li>
                <li>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </li>
            </ul>
            <div class="d-flex">
                <!---- <button class="btn btn-success" type="submit">Start a Project</button>-->
                <span class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Arabic</a></li>
                    </ul>
                </span>
                <span class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
                </span>
                <span class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Log In</a>
                </span>

            </div>
        </div>
    </div>
</nav>